@use '../base/variables';

.whatWeOffer {
    padding: 120px 20px 160px 20px;
    margin: 0 auto;

    >.container {
      display: flex;
      flex-direction: column;
    }

    &__title {
        text-align: center;
        color: variables.$primary-color-black;
        font-size: 1.875rem;

        strong {
            background: repeating-linear-gradient(90deg, #cf0c13, #ff0a95 50%, #ff5724);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-weight: bold;
        }
    }

    &__bottom {
      display: flex;

    &__left {
        display: flex;
        flex-direction: column;
        gap: 1px;
        width: 20%;

       &__option {
        cursor: pointer;
        padding: 1px 0;

        &--coral {
          .whatWeOffer__bottom__left__option-title {
            color: variables.$primary-color-yellow;
          }
        }

        &--rosa {
          .whatWeOffer__bottom__left__option-title {
            color: #ff5e7d;
          }
        }

        &--ocre {
          .whatWeOffer__bottom__left__option-title {
            color: #d4a017;
          }
        }

        &--purple {
          .whatWeOffer__bottom__left__option-title {
            color: #432874;
          }
        }

        &--active {
          .whatWeOffer__bottom__left__option__inner {
            background: variables.$primary-color-white;
          }
        }

        &--neighbor {
           border-bottom-right-radius: 0;
           border-top-right-radius: 1.5rem;
           overflow: hidden;
        }

        &__inner {
          background: variables.$primary-color-gray;
          padding: 2rem 2.25rem;
          border-radius: 0.625rem 0 0 0.625rem;
          overflow: hidden;
        }

        &__title {
          font-size: 1.5rem;
          font-weight: bold;
        }

        &-range {
          color: #4a4a4a;
          line-height: 1.75rem;
        }
      }
    }

    &__right {
        flex: 1;
        background: #e8ecef;
        border-radius: 0 0.625rem 0.625rem 0;

        &__contents {
            display: flex;
            flex-direction: row;
            gap: 1.75rem;
            background: white;
            padding: 2rem 2.25rem;
            border-radius: 0 0 0 1.875rem;
            position: relative;
            width: 100%;
            height: 100%;

            &--activeBottom {
                border-bottom-left-radius: 1.5rem !important;
            }

            &--activeTopBottom{
                border-top-left-radius: 1.5rem !important;
                border-bottom-left-radius: 1.5rem !important;
            }

              &--activeTop {
                border-top-left-radius: 1.5rem !important;
            }

            &__content {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 1.75rem;

                &__text {
                    display: inline-block;
                    padding: 0.25rem 0.75rem;
                    border-radius: 9999px;
                    color: white;
                    font-weight: bold;
                    font-size: 0.875rem;

                    &--coral {
                        background: #ff6f61;
                    }

                    &--rosa {
                        background: #ff5e7d;
                    }

                    &--ocre {
                        background: #d4a017;
                    }

                    &--purple {
                        background: #432874;
                    }
                }

                &__list {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    &__disc {
                        list-style-type: disc;
                        padding-left: 1.75rem;
                    }

                    &__item {
                        display: flex;
                        gap: 0.5rem;
                        color: #4a4a4a;
                        line-height: 1.75rem;

                        &__icon {
                            color: variables.$primary-color-yellow;
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }

                    &__title {
                        font-size: 1.25rem;
                        font-weight: bold;
                        color: #4a4a4a;
                    }
                }



                &__buttons {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    @media (min-width: 768px) {
                        flex-direction: row;
                    }
                }

                &__button {
                    padding: 1rem 1.5rem;
                    border-radius: 0.375rem;
                    font-weight: 600;
                    line-height: 1.25rem;
                    text-align: center;

                    &--secondary {
                        border: 1px solid #4a4a4a;
                        color: #4a4a4a;
                        transition: all 0.3s;

                        &:hover {
                            border-color:  variables.$primary-color-yellow;
                            color: variables.$primary-color-yellow;
                        }
                    }

                    &--primary {
                        background: variables.$primary-color-yellow;
                        color: #1a2526;
                        transition: all 0.3s;

                        &:hover {
                            background: variables.$primary-color-yellow;
                        }
                    }
                }

            }

            &__image {
                width: 15.375rem;
                height: 25.25rem;
                overflow: hidden;
                border-radius: 0.75rem;
                background: linear-gradient(90deg, #ff6f61, #ffb03b);

                @media (max-width: 1023px) {
                    display: none;
                }

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
  }
}